@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  font-family: "Quicksand";
  
}

body {
  background-color: #FDFAF6;
  height: 100%;
}

/* Disable focus styles */
*:focus,
*:focus-visible,
*:focus-within {
  outline: none !important;
  box-shadow: none !important;
}

.app {
  display: flex;
  min-height: 100vh; /* Ensures the container takes up the full viewport height */
  flex-direction: column;
}

.content {
  flex: 1; /* Allows content to expand and fill remaining space */
}





