.dash-admin {
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 100%;
}

.dash-admin-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: stretch;
    padding: 0px;
    background-color: #fef7e5;
}

.dash-admin-profile {
    /* Adjust according to your AdminProfile's design */
    flex: 1;
    background-color: #fff;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dash-admin-body {
    /* Adjust according to your AdminBody's design */
    flex: 3;
    background-color: #fff;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}