/* Navbar.css */

.navbar-container {
  height: 60px;
  background-color: #fef7e5;
  width: 100%;
  margin: 0;
  padding: 12px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 50px;
}

.navbar-logo {
  max-width: 150px;
  align-self: flex-start;
  margin-right: auto;
}

.navbar-logo img {
  max-width: 40%;
  height: auto;
}

.nav-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-elements ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-elements ul li {
  position: relative;
  margin: 4px 24px;
  border-bottom: 4px solid #fef7e5;
}

.nav-elements ul li:first-child {
  margin-left: 0;
}

.nav-elements ul li:hover {
  border-bottom: 4px solid var(--green);
}

.nav-elements ul li a:active {
  border-bottom: 4px solid var(--green);
  font-weight: bold;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fef7e5;
  min-width: 120px;
  padding: 8px;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
  color: #2f234f;
  text-decoration: none;
  display: block;
  padding: 6px 0;
}

.dropdown-content a:hover {
  background-color: #f3e8c1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content a:hover {
  background-color: #f3e8c1;
}
