.fetching {
    display: flex;
    flex-direction: column;
}

.rendered-list{
    width: fit-content;
    margin: 20px auto;
    padding: 20px;
    max-height: 800px;
    overflow-y: scroll;
    width: 100%;
  }

#number-of-presidents {
    width: fit-content;
    margin: 0 auto;
}

.president-preview {
    border: 2px solid #4CAF50;
    border-radius: 8px;
    margin: 10px 0;
    padding: 20px 40px;
    border-bottom: 7px solid #4CAF50;
    transition: transform 0.3s ease;
}

.president-preview:hover {
    transform: translateY(-5px);
  }
  

.president-preview *{
    text-decoration: none;
    color: black;
}


.profile-picture {
    align-self: start;
}

.profile-picture img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 40px;
}

.manage-profile {
    background-color: #008DDA;
    align-self: flex-end;
    border: none;
    border-radius: 16px;
    padding: 0 20px;
    max-width: fit-content;
    transition: transform 0.3s ease;
    
}

.manage-profile:hover {
    opacity: 90%;
    transform: scale(1.1);
}

.manage-profile .manage-label{
    color: white;
    font-weight: bold;
    align-self: center;
}

.manage-arrow > img {
    height: 30px;
}

.manage-label,.manage-arrow{
    max-width: fit-content;
    padding: 0;
    margin: 0 5px;
}