.request-details {
    padding: 20px;
  }
  
  .request-details article {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    max-height: 800px;
    overflow:scroll;
  }
  
  .request-details h1 {
    margin-bottom: 20px;
  }
  
  .request-details p {
    margin-bottom: 5px;
  }
  
  .request-details hr {
    margin: 20px 0;
  }
  
  .request-details .button-group {
    margin-top: 20px;
  }

  #comment {
    padding-left: 20px;
  }

  #evDesc {
    padding-left: 20px
  }
  
  #comment-field {
    margin-top: 10px;
    resize: none; /* Disable resizing */
    width: 300px; /* Set the width of the textarea */
    height: 50px; /* Set the height of the textarea */
    padding: 10px; /* Add padding to the textarea */
    border: 2px solid #ccc; /* Add a border to the textarea */
    border-radius: 8px; /* Add border radius for rounded corners */
    font-size: 16px; /* Set the font size */
    transition: var(--transition);
  }

  #comment-field:focus {
    border-color: #008DDA;
    height: 200px;
  }

  .warning {
    color: var(--yellow);
    font-weight: bold;
    font-size: 16px;
  }

  button {
    border: none !important;
    font-weight: bold !important;
    color: white;
    font-size: 16px;
  }

  button:disabled {
    opacity: 50% !important;
  }

  #download-details{
    background-color: var(--blue);
  }

  #download-details:hover{
    opacity: 70%;
  }

  #approve-req {
    background-color: var(--green);
  }

  #approve-req:hover {
    box-shadow: 0 0 10px var(--green);
  }

  #deny-req {
    background-color: var(--red);;
  }

  #deny-req:hover {
    box-shadow: 0 0 10px var(--red);
  }
  