.options-list {
    max-width: 80%;
    margin: 0 auto;
    border: 2px solid #4CAF50;
    border-radius: 8px;
}

.option {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.selected{
    background-color: #4CAF50;
    color: white;
    transition: 0.3s ease;
}

.option-output{
    margin-top: 20px;
}