@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('react-app\src\assets\ajenda.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}
/* Styles for the card container */
.card-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 40px); /* Adjust width based on screen size */
  max-width: 600px; /* Set maximum width for larger screens */
  height: calc(100% - 40px); /* Adjust height based on screen size */
  max-height: 600px; /* Set maximum height for larger screens */
  padding: 20px;
  background-color: rgba(253, 250, 246, 0); /* Transparent background color */
}

/* Styles for the card */
.card {
  font-family: 'Quicksand', sans-serif;
  width: calc(100% - 40px); /* Adjust width */
  max-width: 600px; /* Set maximum width for larger screens */
  height: calc(100% - 40px); /* Adjust height */
  max-height: 600px; /* Set maximum height for larger screens */
  padding: 20px;
  border: 1px solid rgba(22, 199, 154, 0.7); /* Border color */
  border-radius: 10px;
  background-color: rgba(250, 241, 230, 0.7); /* Background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for the card content */
.card-content {
  margin-bottom: 2em; /* Adjust margin */
}

/* Styles for the card actions */
.card-actions {
  display: flex;
  justify-content: space-between;
}

/* Additional styles for form elements */
input[type="text"],
input[type="number"],
textarea,
select {
  font-family: 'Quicksand', sans-serif;
  width: calc(100% - 20px); /* Adjust width */
  padding: 0.8em; /* Adjust padding */
  margin-bottom: 1em; /* Adjust margin */
  border: 1px solid #16C79A; /* Border color */
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="file"] {
  display: none;
}

input[type="file"] + label {
  display: block;
  background-color: #16C79A; /* Background color */
  color: #FFF;
  padding: 0.8em 1em; /* Adjust padding */
  border-radius: 5px;
  cursor: pointer;
}

/* Styles for buttons */
button {
  font-family: 'Quicksand', sans-serif;
  padding: 0.8em 1em; /* Adjust padding */
  border: none;
  border-radius: 5px;
  background-color: #16C79A; /* Background color */
  color: #FFF;
  cursor: pointer;
}

button:hover {
  background-color: #0F9D58; /* Hover background color */
}
