.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 600px;
    background: linear-gradient(to right, #f5f7fa, #c3cfe2);
    padding-top: 50px;
    box-sizing: border-box;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(33% - 40px);
    max-width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #0072ff, #00c6ff);
    color: #fff;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-sizing: border-box;
    text-align: center;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.box-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.box-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
}

.number {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.number-color {
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}